<div class="cont">
    <div class="title">
        <div class="name">
            <h2>EMPLEADO {{selectedEmployee?.firstName}} - {{selectedEmployee?.dni}}</h2>
        </div>
        <div class="exit">

            <span class="material-icons" (click)="closeView(null)">
                close
            </span>
        </div>
    </div>
    <mat-horizontal-stepper #stepperNew class="newPickingLoad">
        <mat-step label="INFORMACIÓN">
            <form class="form" [formGroup]="form" (submit)="updateEmployee()">

                <div class="line">
                    <mat-form-field appearance="outline">
                        <mat-label> DNI </mat-label>
                        <input class="input" matInput [maxlength]="40" formControlName="dni">
                        <mat-error *ngIf="formControl.dni.errors?.required">
                            Campo <strong>requerido.</strong>
                        </mat-error>
                        <mat-error *ngIf="formControl.dni.errors?.maxlength">
                            Máximo <strong>10 caracteres.</strong>
                        </mat-error>
                        <mat-error *ngIf="formControl.dni.errors?.minlength">
                            Mínimo <strong>10 caracteres.</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label> NOMBRE </mat-label>
                        <input class="input" matInput [maxlength]="40" formControlName="firstName">
                        <mat-error *ngIf="formControl.firstName.errors?.required">
                            Campo <strong>requerido.</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label> APELLIDO </mat-label>
                        <input class="input" matInput [maxlength]="40" formControlName="lastName">
                        <mat-error *ngIf="formControl.lastName.errors?.required">
                            Campo <strong>requerido.</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label> MAIL</mat-label>
                        <input type="number" class="input" matInput [maxlength]="40" formControlName="mail">
                        <mat-error *ngIf="formControl.mail.errors?.required">
                            Campo <strong>requerido.</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="line">
                    <mat-form-field appearance="outline">
                        <mat-label> FECHA DE NACIMIENTO </mat-label>
                        <input type="number" class="input" matInput [maxlength]="40" formControlName="dateOfBirth">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label> DIRECCIÓN </mat-label>
                        <input type="number" class="input" matInput [maxlength]="40" formControlName="address">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label> TELÉFONO </mat-label>
                        <input type="number" class="input" matInput [maxlength]="40" formControlName="phone">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label> ESTADO </mat-label>
                        <input type="number" class="input" matInput [maxlength]="40" formControlName="status">
                    </mat-form-field>
                </div>
                <div class="vaccine">
                    <div class="tit">
                        INFORMACIÓN DE VACUNAS
                        <p-scrollPanel [style]="{width: '100%',height:'250px'}" *ngIf="selectedVaccines.length">
                            <div class="vaccines" *ngFor="let vaccines of this.selectedVaccines">
                                <div class="vaccines">
                                    <div><strong>Vacuna: </strong>{{vaccines?.name}} </div>
                                    <div> <strong>Estado:</strong> {{vaccines?.date}} </div>
                                    <div> <strong>Dosis:</strong> {{vaccines?.dose}} </div>
                                </div>
                            </div>
                        </p-scrollPanel>
                    </div>
                    <div class="line">

                    </div>
                </div>
                <div class="buttons">
                    <p-button styleClass="p-button-primary " type="submit"> {{btnName}}</p-button>
                </div>
            </form>
        </mat-step>

    </mat-horizontal-stepper>
</div>